# macOS
.DS_Store

webapp/.depends
cli/cmd/yapi/yapi
cli/fzf-refernce-dont-use


cli/yapi-test
cli/yapi
bin/yapi
/yapi
.gitsecret/keys/random_seed
!*.secret
.posthog.env
prompt.md
market-research/http
market-research/rest
market-research/bru
.vercel
node_modules
.opencode
main.md
coverage.txt
fuzz.cov
core.md
test.md
pup.jpg
all.md
icon.svg
og-image.png
imported
kore.ai
foo
test-import
postman-collections
here
fish
internal/cli/.DS_Store
vscode/yapi/dist
apps/vscode-webview/dist
extensions/vscode-extension/dist
web/.next/dev
packages/ui/dist
foo.md
packages/client/dist
make-smaller.md
unipmorted.txt
aur_ed25519
aur_ed25519.pub
dist
.env*.local
apps/web/icons
coverage.out
